<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Cliente</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div class="container">
            <h1>Editar cliente</h1>
            <form method="post" action="/clients/edit/save" onsubmit="confitmEdit(event, this)">
                <label class="nameInput">Nome</label><br>
                <input type="text" class="inpt" name="name" value="<%= client.name %>"><br><br>

                <label class="nameInput">E-mail</label><br>
                <input type="email" class="inpt" name="email" value="<%= client.email %>"><br><br>

                <label class="nameInput">Telefone</label><br>
                <input type="tel" class="inpt" name="tel" placeholder="(47)98888-8888" value="<%= client.tel %>"><br><br>

                <label class="nameInput">Data de aniversário</label><br>
                <input type="text" class="inpt" name="birth" placeholder="DD/MM/YYYY" value="<%= client.birth %>"><br><br>

                <label for="obs">Observasão</label><br>
                <textarea id="obs" class="text" name="obs"><%= client.obs %></textarea><br><br>

                <button type="submit" class="btn" >Salvar</button>
                <br><br>
                <input type="hidden" name="id" value="<%= client.id %>">
            </form>
            <a href="../clients"><button class="btn">Clientes</button></a>
        </div>

        <script>
            function confitmEdit(e, form){
                e.preventDefault();
                const confirmEdit = confirm("Tem certeza das alterações que você fez ?");

                if(confirmEdit == true){
                    form.submit()
                }else{}
            }
        </script>
    </body>
</html>